<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/css/index.css"
	media="screen,projection" />
<link type="text/css" rel="stylesheet" href="/css/materialize.min.css"
	media="screen,projection" />
<link type="text/css" rel="stylesheet" href="/css/materialize.css"
	media="screen,projection" />

<title>Spring Boot File Upload to S3</title>
</head>

<body>
	<div class="container">
		<h3 class= "align-text">Tela de Cadastro</h3>
		<div>
			<nav class= "align-text">
				<div class="nav-wrapper">
				    <a href="/"><button  class="waves-effect waves-light btn-small">Inicio</button ></a> 
					<a href="/cadastrar_cliente" ><button class="waves-effect waves-light btn-small">Cadastrar de Clientes</button></a> 
					<a href="/produtos/cadastrar" ><button	class="waves-effect waves-light btn-small">Cadastrar de Produtos</button></a> 
					<a href="/vendas/cadastrar" ><button class="waves-effect waves-light btn-small" >Criar Pedidos</button></a>
				 
			    </div>
			</nav>

		</div>
	</div>
	<script type="text/javascript" src="/js/materialize.min.js"></script>
	<script type="text/javascript" src="/js/materialize.js"></script>
</body>

</html>