<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/css/index.css" media="screen,projection" />
<link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />
<link type="text/css" rel="stylesheet" href="/css/materialize.css"
	media="screen,projection" />

<title>Spring Boot File Upload to S3</title>
</head>


<body>
	<div class="container">
		<div>
			<h3>Lista de Clientes:</h3>
		</div>
		<div>
			<table class="highlight">
				<thead >
					<tr>
						<th>ID</th>
						<th>Nome</th>
						<th>email</th>						
						<th>Data de Nascimento</th>

					</tr>
				</thead>
				<tbody>
					<tr th:if="${clientes.empty}">
						<td colspan="4">Não Existem Clientes Cadastrados!!</td>
					</tr>
					<tr th:each="clientes : ${clientes}">
						<td><span th:text="${clientes.id}"> ID </span></td>
						<td><span th:text="${clientes.nome}"> Nome </span></td>
						<td><span th:text="${clientes.email}"> Email </span></td>					
						<td><span th:text="${clientes.dataNascimento}"> Data de
								Nascimento </span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	 <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/materialize.js"></script>
</body>

</html>