<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista de  Cliente</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/css/index.css"
	media="screen,projection" />
<link type="text/css" rel="stylesheet" href="/css/materialize.min.css"
	media="screen,projection" />
<link type="text/css" rel="stylesheet" href="/css/materialize.css"
	media="screen,projection" />
</head>
<body>
<div class="container">
		<h3 class= "align-text">Listar Clientes</h3>
		
			<nav class= "align-text">
				<div class="nav-wrapper">
				    <a href="/"><button  class="waves-effect waves-light btn-small">Inicio</button ></a> 
					<a href="/cadastrar_cliente" ><button class="waves-effect waves-light btn-small">Cadastrar de Clientes</button></a> 
					<a href="/produtos/cadastrar" ><button	class="waves-effect waves-light btn-small">Cadastrar de Produtos</button></a> 
					<a href="/vendas/cadastrar" ><button class="waves-effect waves-light btn-small" >Cadastrar Pedidos</button></a>
				   
			    </div>
			</nav>
			<div>
				<table class="highlight">
				<thead >
					<tr>
						
						<th>Nome</th>
						<th>E-Mail</th>
						<th>Data de Nascimento</th>

					</tr>
				</thead>
				<tbody>
					<tr th:if="${clientes.empty}">
						<td colspan="4">Não Existem Clientes Cadastrados!!</td>
					</tr>
					<tr th:each="clientes : ${clientes}">

						<td><span th:text="${clientes.nome}"> Nome </span></td>
						<td><span th:text="${clientes.email}"> Email </span></td>					
						<td><span th:text="${clientes.dataNascimento}"> Data de
								Nascimento </span></td>
					</tr>
				</tbody>
			</table>
			
			</div>
			
			
			<a  class="mg-top" href="/cadastro">
		             <button class="btn waves-effect waves-light">Voltar</button>
				</a>
	</div>

	<script type="text/javascript" src="/js/materialize.min.js"></script>
	<script type="text/javascript" src="/js/materialize.js"></script>

</body>
</html>