<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Lista de  Cliente</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/css/index.css"
	media="screen,projection" />
<link type="text/css" rel="stylesheet" href="/css/materialize.min.css"
	media="screen,projection" />
<link type="text/css" rel="stylesheet" href="/css/materialize.css"
	media="screen,projection" />
</head>
<body>
<div class="container">
		<h3 class= "align-text">Cadastrar Clientes</h3>
		
			<nav class= "align-text">
				<div class="nav-wrapper">
				    <a href="/"><button  class="waves-effect waves-light btn-small">Inicio</button ></a> 
					<a href="/clientes/cadastrar" ><button class="waves-effect waves-light btn-small">Cadastrar de Clientes</button></a> 
					<a href="/produtos/cadastrar" ><button	class="waves-effect waves-light btn-small">Cadastrar de Produtos</button></a> 
					<a href="/vendas/cadastrar" ><button class="waves-effect waves-light btn-small" >Cadastrar Pedidos</button></a>
				   
			    </div>
			</nav>
			<div>
				<table class="highlight">
				<thead >
					<tr>
						
						<th>Nome</th>
						<th>E-Mail</th>
						<th>Data de Nascimento</th>

					</tr>
				</thead>
				<tbody>
					<tr th:if="${clienteRedis.empty}">
						<td colspan="4">Não Existem Clientes Cadastrados!!</td>
						<td colspan="4"> Deseja buscar os dados em qual base de dados?</td>
						<td> 
							<div>
								<input type="radio" checked="checked">
								<input type="radio" checked="checked">
							</div>
						</td>
					</tr>
					<tr th:each="clientes : ${produtos}">
						<td><span th:text="${produtos.id}"> ID </span></td>
						<td><span th:text="${produtos.nome}"> Nome </span></td>
						<td><span th:text="${produtos.descricao}"> Descrição </span></td>
						<td><span th:text="${produtos.quantidade}"> Quantidade
						</span></td>
						<td><span th:text="${produtos.dataCadastro}"> Data de
								Cadastro </span></td>
					</tr>
				</tbody>
			</table>
			
			</div>
			
			
			<a  class="mg-top" href="/listar_clientes">
		             <button class="btn waves-effect waves-light" type="submit" name="action">Voltar</button>
				</a>
	</div>

	<script type="text/javascript" src="/js/materialize.min.js"></script>
	<script type="text/javascript" src="/js/materialize.js"></script>

</body>
</html>